In [1]:
import pandas as pd 
df=pd.read_csv('classification.csv')

In [2]:
# --- 1) Chargement et nettoyage du DataFrame ---232222/222
try:
    df
except NameError:
    df = pd.DataFrame(columns=[
        "filename_lr", "age", "sex", "height", "weight",
        "Myocardial Infarction (MI)", "ST/T Change (STTC)",
        "Conduction Disturbance (CD)", "Hypertrophy (HYP)", "Normal (NORM)"
    ])

In [3]:
df[(df["filename_lr"]=='records100/14000/14270_lr')]

,ecg_id,age,sex,height,weight,infarction_stadium1,infarction_stadium2,pacemaker,strat_fold,Myocardial Infarction (MI),ST/T Change (STTC),Conduction Disturbance (CD),Hypertrophy (HYP),Normal (NORM),filename_lr
14269,14270,23.0,1.0,175.0,65.0,0.0,0.0,0.0,3,0,0,0,0,1,records100/14000/14270_lr

In [10]:
df[(df["filename_lr"]=='records100/00000/00116_lr')|(df["filename_lr"]=='records100/14000/14270_lr')]

,ecg_id,age,sex,height,weight,infarction_stadium1,infarction_stadium2,pacemaker,strat_fold,Myocardial Infarction (MI),ST/T Change (STTC),Conduction Disturbance (CD),Hypertrophy (HYP),Normal (NORM),filename_lr
115,116,49.0,1.0,174.0,74.0,0.0,0.0,0.0,10,0,1,0,0,0,records100/00000/00116_lr
14269,14270,23.0,1.0,175.0,65.0,0.0,0.0,0.0,3,0,0,0,0,1,records100/14000/14270_lr

In [11]:
mesures=pd.read_csv('ecg_mesures_equilibred2.csv')

In [12]:
mesures[(mesures["filename_lr"]=='records100/00000/00116_lr')|(mesures["filename_lr"]=='records100/14000/14270_lr')]

,ecg_id,age,sex,height,weight,filename_lr,P_Amp_V1,P_Amp_II,P_Amp_I,P_Dur_Global,PR_Int_Global,QT_IntFramingham_Global,S_Amp_Global,PQ_Int_Global,QRS_Dur_Global,RR_Mean_Global,QT_Int_Global
1,116,49.0,1,174.0,74.0,records100/00000/00116_lr,-0.05,0.025,0.035,175.0,254.0,560.64,-0.060833,202.0,149.0,814.0,537.0
4019,14270,23.0,1,175.0,65.0,records100/14000/14270_lr,0.02,-0.090,0.035,210.0,271.0,453.12,-0.073750,217.0,154.0,724.0,408.0
6171,14270,23.0,1,175.0,65.0,records100/14000/14270_lr,0.02,-0.090,0.035,210.0,271.0,453.12,-0.073750,217.0,154.0,724.0,408.0